<a href="https://colab.research.google.com/github/Lacusxx/LinearAlgebra_SecondSem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
x = 1
c , j = 2 , 25

In [ ]:
type(j)

In [ ]:
y = 1.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s,t,u = "0","1","one"
type(s)

In [ ]:
s_int = int(s)
s_int

## Operations

### Arithmetic

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

In [ ]:
### Subtraction
D = b-d
D

In [ ]:
### Multiplication
P = a*d
P

In [ ]:
### Division
Q = d/a
Q

In [ ]:
### Floor Division
Fq = a//b
Fq

In [ ]:
### Exponentiation
E = d**a
E

In [ ]:
### Modulo
mod = d%b
mod

### Assignment Operations

In [ ]:
G, H, J, K = 0, 100, 2, 3

In [ ]:
G += a
G

In [ ]:
H -= a
H

In [ ]:
J *= a
J

In [ ]:
K **= a
K

## Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2/2
t4

### Logical

In [ ]:
res_1 == true_val

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [ ]:
p,q = True, True
conj = p and q
conj

In [ ]:
p,q = False, False
disj = p or q
disj

In [ ]:
p,q = True, False
e = (not p and q) or (p and not q)
e

### I/O

In [ ]:
print("Hello BhoSzxc Lacusxxx!")

Hello BhoSzxc Lacusxxx!

In [ ]:
cnt = 1

In [ ]:
string = "Hello BhoSzxc Lacusxxx!"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello BhoSzxc Lacusxxx! , Current run count is: 3

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 1.0
name = "Lacus"
print("Hello {}, your semestral grade is: {}" .format(name, sem_grade))

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weigths of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

In [ ]:
x = input("enter a number: ")
x

In [ ]:
name = input("name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = 90
print("Hello {}, your semestral grade is: {}" .format(name, sem_grade))

# Looping Statements

## While

In [ ]:
## while loops
i,j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

In [ ]:
# for(int i=0; i<10, i++){
# printf(i)
# }

i=0
for i in range(10):
  print(i)

In [ ]:
sinigang = ["Baboy", "Sinigang Mix", "Kangkong", "Labanos", "Sibuyas", "Kamatis","Okra", "Patis", "Siling Panigang" ]
print('Iluto mo na Mhi3:\n')
for ingredients in sinigang:
  print(ingredients)

# Flow Control

## Conditional Statements

In [ ]:
numeral1, numeral2 = 12, 11
if(numeral1 == numeral2):
  print("Luh Poser")
elif(numeral1 > numeral2):
  print("nye nye mas malaki si numeral1")
else:
  print("tama na yan:'<")

## Functions

In [ ]:
# void DeleteUser(int userid){
# delete(userid);    
# }

def delete_user (userid):
  print("Succesfully deleted user: {}".format(userid))

def delete_all_user ():
  print("Succesfully deleted all users:")

In [ ]:
userid = "Lacus"
delete_user("Lacus")
delete_all_user()

In [ ]:
# void DeleteUser(int userid){
# delete(userid);    
# }

def create_user (userid):
  print("Succesfully created user: {}".format(userid))

def create_all_user ():
  print("Succesfully created all users: Lacus, Octavius and Tiger")

In [ ]:
userid = "Lacus"
create_user("Lacus")
create_all_user()

In [ ]:
def add(addend1, addend2):
  return addend1 + addend2

def power_of_base2(exponent):
  return 4**exponent

In [ ]:
addend1, addend2 = 34, 35
add(addend1, addend2)

In [ ]:
exponent = 5
power_of_base2(exponent)